<div class="head">
<h1>ようこそ<strong>Bookers</strong>へ！</h1>
<div class="head-item">
<p class="head-item-text"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
<p class="head-item-text">印象を共有し交換することができます</p>
<p class="head-item-text">
<%= link_to 'start', "/books"  %>
</p>
</div>
